.video-div {
  padding: 18% 0;
  position: absolute;
  z-index: 1;
  color: white;
  background: linear-gradient(to right, #000000, transparent);
  aspect-ratio: 16/9;
  width: 100%;
  height: 20%;
}

.video-h {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.video-p {
  width: 40%;
  font-size: small;
}

.video-btn-info {
  padding: 16px 15px;
  margin: 8px 5px;
  border: none;
  opacity: 80;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(167, 167, 167);
}

.video-btn-info:hover {
  background-color: rgb(255, 255, 255);
}

.video-btn-play:hover {
  background-color: rgb(235, 229, 229);
}

.video-btn-play {
  padding: 16px 15px;
  margin: 8px 5px;
  border: none;
  opacity: 80;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.videobg-div {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  background-color: #000000;
}

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  display:cover;
  background-color: #000000
  
}

.maincontainer{
  display: flex;
  background-color: #000000 ;
}

.poster-div {
  width: 200px;
}

.poster-img {
  width: 100%;
}

.moviecards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.movieslist {
  display: flex;
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
}

.list-title {
  margin: 0;
  padding: 20px;
}

.moviediv {
  background-color: #000000;
  color: white
}

.secondcontainer {
  z-index: 2;
  position: relative;
  margin: -300px 0 ;
}

.browse {
  background-color: #000000;
}