
.video-div {
  padding-left: 20px;
  padding: 20% 0;
  position: absolute;
  z-index: 1;
  color: white;
  background: linear-gradient(to right, #000000, transparent);
  aspect-ratio: 16/9;
  width: 100%;
  height: 20%;
}

.video-p {
  width: 50%;
}

.video-btn-info {
  padding: 16px 15px;
  margin: 8px 5px;
  border: none;
  opacity: 80;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(167, 167, 167);
  
  
}

.video-btn-info:hover {
    background-color: rgb(255, 255, 255);
}

.video-btn-play:hover {
    background-color: rgb(235, 229, 229);
}


.video-btn-play {
  padding: 16px 15px;
  margin: 8px 5px;
  border: none;
  opacity: 80;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  
}

.videobg-div {
  width: 100%;
  
  aspect-ratio: 16/9;
}

.video-bg {
  position: absolute; 
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
